{% extends './base.html' %}
{% load i18n static %}
{% block structure %}{{ block.super }}<!--       ui/check_list_update -->
{% endblock %}

{% block content %}
    <options>
        <option-item v-for="item, index in items" :key="item.value"
                     :title="item.label"
                     name="gender"
                     :value="item.value"
                     :id="index"></option-item>
    </options>
    <button-area>
        <button-primary title="{% trans '确定' %}" @click.native="submit"></button-primary>
    </button-area>
{% endblock %}

{% block js %}{{ block.super }}
    <!-- 💙 ui/check_list_update -->
    <script src="{% static 'railguns/es2015/ui/update.js' %}"></script>
    <!-- 💛 自定义 js -->{% endblock %}
