{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    {#    <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">#}
{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="/docs/" target="_blank">
        {% trans 'app_name' %} API {{ request.version }}
    </a>
{% endblock %}

{% block userlinks %}
    <li>
        <a href="https://www.django-rest-framework.org" rel="nofollow external" target="_blank">
            Django REST framework
        </a>
    </li>
    {{ block.super }}
{% endblock %}
