{% extends '../base_quick.html' %}

{% load static %}

{% block structure %}{{ block.super }}<!--     mdl/base -->
{% endblock %}

{% block css %}
	<!-- mdl/base -->
	<link rel="stylesheet" href="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/mdl/1.3.0/material.min.css">
	<link rel="stylesheet" href="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/mdl/style.css">
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
	<!-- 💛 自定义css -->
{% endblock %}

{% block body %}
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{% block navbar %}<!-- 无导航栏 -->{% endblock %}
		<!-- mdl main 区域 -->
		<main class="mdl-layout__content">
		{% block content %}{% endblock %}
		</main>
	</div>
{% endblock %}

{% block js %}{{ block.super }}<!-- mdl/base -->
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/mdl/1.3.0/material.min.js"></script>
	<script src="{% static 'railguns/js/mdl.js' %}"></script>
	<!-- 💛 自定义js -->
{% endblock %}
