{% extends './base.html' %}
<!-- 加载 -->
{% load i18n static %}
<!-- 结构 -->
{% block structure %}{{ block.super }}<!--   base_quick -->
{% endblock %}

{% block web %}
	<!-- 🍺 css 开始 -->{% block css %}{% endblock %}	<!-- 🍻 css 结束 -->

	<!-- 🍺 js模版 开始 -->
	<script id="entry-template" type="text/x-handlebars-template">{% block template %}{% endblock %}	</script>
	<!-- 🍻 js模版 结束 -->
</head>
<body>
	<!-- 🍺 内容 开始 -->{% block body %}{% endblock %}	<!-- 🍻 内容 结束 -->

	<!-- 🍺 js 开始 -->{% block js %}
	<!-- base_quick -->
	<!--   Django -->
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
	<script src="{% static 'railguns/js/django.js' %}"></script>
	<!--   libs -->
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
	<script src="{% static 'railguns/js/libs.js' %}"></script>
	{% endblock %}	<!-- 🍻 js 结束 -->
{% endblock %}
