{% extends './base.html' %}
<!--   base_quick.html -->
{% load i18n static %}

{% block web %}

{% block title %}<title>{% trans title %}</title>{% endblock %}

<script id="entry-template" type="text/x-handlebars-template">
{% block template %}{% endblock %}
</script>

</head>
<body>
{% block body %}
{% endblock %}

{% endblock %}

{% block js %}
<script src="{% static 'libs/jquery/3.1.0/jquery.min.js' %}"></script>
<script src="{% static 'libs/jquery.lazy/1.7.3/jquery.lazy.min.js' %}"></script>
<script src="{% static 'libs/handlebars/4.0.5/handlebars.min.js' %}"></script>
<script src="{% static 'railguns/js/libs.js' %}"></script>
{% endblock %}
