{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<link rel="icon" href="{% static 'favicon.ico' %}">

{% block analytics %}{% endblock %}

{% block css %}{% endblock %}

{% block web %}{% endblock %}

{% block js %}{% endblock %}

<script src="{% static 'libs/js-cookie/2.1.2/js.cookie.min.js' %}"></script>
<script src="{% static 'railguns/js/django.js' %}"></script>
</body>
</html>
