{% extends 'railguns/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'libs/framework7/1.4.2/css/framework7.ios.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/framework7/1.4.2/css/framework7.ios.colors.min.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'libs/jquery/3.1.0/jquery.min.js' %}"></script>
<script src="{% static 'libs/jquery.lazy/1.7.3/jquery.lazy.min.js' %}"></script>
<script src="{% static 'libs/handlebars/4.0.5/handlebars.min.js' %}"></script>
<script src="{% static 'railguns/js/libs.js' %}"></script>
<script src="{% static 'libs/framework7/1.4.2/js/framework7.min.js' %}"></script>
<script src="{% static 'libs/framework7/1.4.2/js/framework7.min.js.map' %}"></script>

<script src="{% static 'railguns/js/f7.js' %}"></script>
{% endblock %}
