{% extends '../base_quick.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'libs/framework7/1.4.2/css/framework7.ios.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/framework7/1.4.2/css/framework7.ios.colors.min.css' %}">
{% endblock %}

{% block body %}
	<div class="views">
		<div class="view view-main">
			<!-- 只支持 iOS Theme 的穿透 Navbar-->
      		{% block navbar %}{% endblock %}
			<div class="pages">
				<div class="page" data-page="{{ name }}">
					<div class="page-content" data-endpoint="{{ endpoint }}">
						{% block empty %}没有内容{% endblock %}
					</div>
					<!-- 固定的 Toolbar -->
					{% block toolbar %}{% endblock %}
				</div>
			</div>
			<!-- 只支持 iOS Theme 的穿透 Tabbar -->
			{% block tabbar %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'libs/framework7/1.4.2/js/framework7.min.js' %}"></script>
<script src="{% static 'railguns/js/f7.js' %}"></script>
{% endblock %}
