{% extends './base.html' %}
{% block structure %}{{ block.super }}<!--       f7/list -->
{% endblock %}

{% block template %}
{% verbatim %}
<!-- 示例模版开始 -->
<div class="content-block-title">results</div>
<div class="list-block">
	<ul>
		{{#results}}
		<li>
			<a href="#" class="item-link item-content">
				<div class="item-media">
					<i class="icon icon-f7"></i>
				</div>
				<div class="item-inner">
					<div class="item-title">{{id}}</div>
				</div>
			</a>
		</li>
		{{/results}}
	</ul>
	<div class="list-block-label">列表中显示的是id</div>
</div>

<div class="content-block-title">others</div>
<div class="list-block">
	<ul>
		<li class="item-content">
			<div class="item-inner">
				<div class="item-title">count</div>
				<div class="item-after">
					<span class="badge bg-yellow">{{count}}</span>
				</div>
			</div>
		</li>
		<li class="item-content">
			<div class="item-inner">
				<div class="item-title">previous</div>
				<div class="item-after">{{previous}}</div>
			</div>
		</li>
		<li class="item-content">
			<div class="item-inner">
				<div class="item-title">next</div>
				<div class="item-after">{{next}}</div>
			</div>
		</li>
	</ul>
</div>
<!-- 示例模版结束 -->
{% endverbatim %}
{% endblock %}
