{% extends 'railguns/vue/detail.html' %}
{% load i18n %}

{% block content %}
    <table-list-section>
        <list-item-value1 title="{% trans 'api' %}"
                          link="/redoc/"></list-item-value1>
        <list-item-value1 title="{% trans 'wiki' %}"
                          link="https://gitlab.yijoy.com/yijoy/M/wikis/home"></list-item-value1>
        <list-item-value1 title="下载 Android 所需文件"
                          link="downloads/kt.zip"></list-item-value1>
        <list-item-value1 title="下载 iOS 所需文件"
                          link="downloads/swift.zip"></list-item-value1>
    </table-list-section>
{% endblock %}
