{% extends '../base_quick.html' %}

{% load i18n %}
{% load static %}

{% block structure %}{{ block.super }}<!--     mdc/base -->
{% endblock %}

{% block css %}
	<!-- 💙 mdc/base -->
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- 💛 自定义css -->
{% endblock %}

{% block body %}
	<!-- header 区域 -->
	<header class="mdc-toolbar mdc-toolbar--fixed">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
				{% block menu %}<button class="menu material-icons">menu</button>{% endblock %}
				<span class="mdc-toolbar__title catalog-title">{% trans '基金云' %}</span>
			</section>
		</div>
	</header>
	<!-- drawer 区域 -->
	{% block navbar %}<!-- 无侧导航栏 -->{% endblock %}
	<!-- main 区域 -->
	<main class="mdc-toolbar-fixed-adjust">
		{% block content %}{% endblock %}
	</main>
{% endblock %}

{% block js %}{{ block.super }}<!-- 💙 mdc/base -->
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="{% static 'railguns/js/mdc.js' %}"></script>
	<!-- 💛 自定义js -->
{% endblock %}
