{% extends '../detail.html' %}
{% load static %}
{% block structure %}{{ block.super }}<!--           mdc/check_list_update -->
{% endblock %}

{% block menu %}<!-- <menu-item icon="done" title="done"></menu-item> -->{% endblock %}

{% block content %}
            <list-section>
                <list-item-default v-for="item in items" :key="item.value"
                    :title="item.label"
                    accessory="radio_button_unchecked"
                    :datavalue="item.value"></list-item-default>
            </list-section>
            <list-section>
                <input @click="patch" type="submit" value="提交">
            </list-section>{% endblock %}

{% block framework_js %}<!-- 💙 mdc/check_list_update -->
    <script src="{% static 'railguns/es2015/ui/update.js' %}"></script>
{% endblock %}
