{% extends './list.html' %}
{% block structure %}{{ block.super }}<!--         mdc/table_list_dense -->
{% endblock %}

{% block list %}<div>
            {% block list_header %}{% endblock %}
            <div class="mdc-list mdc-list--avatar-list mdc-list--dense">
                {% block item %}<list-item-default v-for="(item, index) in items" :title="index" :key="item.id"></list-item-default>{% endblock %}
            </div>
            {% block list_footer %}<list-footer></list-footer>{% endblock %}
        </div>{% endblock %}
