{% extends '../base_quick.html' %}

{% load static %}

{% block structure %}{{ block.super }}<!--     su/base -->
{% endblock %}

{% block css %}
	<!-- su/base -->
	<link rel="stylesheet" href="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/semantic-ui/2.2.4/semantic.min.css">
	<!-- 💛 自定义css -->
{% endblock %}

{% block js %}{{ block.super }}<!-- su/base -->
	<script src="//static-cmcaifu-com.oss-cn-hangzhou.aliyuncs.com/libs/semantic-ui/2.2.4/semantic.min.js"></script>
	<script src="{% static 'railguns/js/su.js' %}"></script>
	<!-- 💛 自定义js -->
{% endblock %}
