{% extends '../base.html' %}
{% load static %}
{% block structure %}{{ block.super }}<!--           vue/form/check_list_update -->
{% endblock %}

{% block menu %}<!-- <menu-item icon="done" title="done"></menu-item> -->{% endblock %}

{% block content %}
            <table-list-section>
                <list-item-default v-for="item in items" :key="item.value"
                    :title="item.label"
                    accessory="radio_button_unchecked"
                    :datavalue="item.value"></list-item-default>
            </table-list-section>
            <table-list-section>
                <input @click="patch" type="submit" value="提交">
            </table-list-section>{% endblock %}

{% block js %}{{ block.super }}
    <!-- 💙 vue/form/check_list_update -->
    <script src="{% static 'railguns/js/vue/update.js' %}"></script>
    <!-- 💛 自定义 js -->{% endblock %}
