{% extends 'railguns/mdc/detail.html' %}
{% load static %}

{% block left_bar_item %}<a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>{% endblock %}

{% block drawer %}{% include 'includes/drawer.html' %}{% endblock %}

{% block content %}
<div class="content-block">
    <div class="content-block-inner">
        <a href="/docs/">API</a>
        <br>
        <a href="http://git.cmcaifu.com/cmcaifu/M/wikis/home">Wiki</a>
        <br>
        <a href="downloads/models.zip">下载客户端模型类</a>
    </div>
</div>
{% endblock %}
