{% extends '../detail.html' %}
{% load static %}
{% block structure %}{{ block.super }}<!--           mdc/form/create -->
{% endblock %}

{% block framework_js %}<!-- 💙 mdc/form/create -->
    <script src="{% static 'railguns/js/vue/create.js' %}"></script>
    <script>
        (function() {
            var tfs = document.querySelectorAll('.mdc-text-field:not([data-demo-no-auto-js])');
            for (tf of tfs) {
                mdc.textField.MDCTextField.attachTo(tf)
            }
        })()
    </script>
{% endblock %}
