{% extends '../base_quick.html' %}
{% load static %}
<!-- 结构 -->
{% block structure %}{{ block.super }}<!--     vue/base -->
{% endblock %}

{% block css %}{{ block.super }}
    <!-- 💙 vue/base -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- 💛 自定义 css -->{% endblock %}

{% block body %}
    <!-- app bar 区域 -->
{#    <!-- drawer 区域 -->{% block drawer %}<!-- 无侧导航栏 -->{% endblock %}#}
    <!-- main 区域 -->
    <main data-endpoint="{{ endpoint }}" id="content">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block js %}{{ block.super }}<!-- 💙 vue/base -->
    <script src="{% static 'railguns/js/service.js' %}"></script>
    <script src="{% static 'railguns/js/vue/weui-components.js' %}"></script>{% endblock %}
