{% extends '../base_quick.html' %}
{% load static %}
<!-- 结构 -->
{% block structure %}{{ block.super }}<!--     vue/base -->
{% endblock %}

{% block css %}{{ block.super }}
    <!-- 💙 vue/base -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- 💛 自定义 css -->{% endblock %}

{% block body %}
    <!-- app bar 区域 -->
{#    <!-- drawer 区域 -->{% block drawer %}<!-- 无侧导航栏 -->{% endblock %}#}
    <!-- main 区域 -->
    <main data-endpoint="{{ endpoint }}" id="content">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block js %}{{ block.super }}<!-- 💙 vue/base -->
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <script src="{% static 'railguns/js/service.js' %}"></script>
    <script src="{% static 'railguns/js/vue/weui-components.js' %}"></script>{% endblock %}
